.footer {
    position: static;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c;
  }
  

.footer .text {
    /* margin-top: 15px; */
    margin-left: 50px;
    margin-right: 50px;
    color: #F5F5F5;
    font-weight: bold;
    font-family: "Montserrat";
}

.footer .hecho { 
    margin-top: 2%;
    text-align: center;
    color: #F5F5F5;
}